body {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100%;
}

.content-wrapper {
    width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 70px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.logo {
    float: left;
    height: 70px;
    width: 70px;
}

.main_navigation {
    float: left;
}

.main_navigation ul {
    margin: 0;
}

.main_navigation li {
    list-style: none;
    display: block;
    float: left;
    padding: 23px 20px 18px ;
}

.main_navigation li:hover {
    border-bottom: 8px solid #555555;
}

.main_navigation li a {
    font-size: 15px;
    color: #555;
    text-decoration: none;
}

.main_navigation li a:hover {
    text-decoration: none;
    color: #666;
}

.search {
    float: right;
    padding: 16px;
}

.red, .red:hover {
    border-color: #d81c23;
}

.blue, .blue:hover {
    border-color: #4980c0;
}

.green, .green:hover {
    border-color: #04b157;
}

.yellow, .yellow:hover {
    border-color: #ffc825;
}